$color_1: #f4eff4;

/* Posición Main */
main {
	h1 {
		font-size: 2.08vw;
		color: $color_1;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 7.3vw 6.25vw 0;
}
.main_Text {
	margin-right: 7.3vw;
}
