$color_1: #f4eff4;

/* Posición del Work Section*/
/* Estilos de la imágen */
/* Posición de la información */
/* Estilos del botón */
.Works__Section {
	margin: 6vw 6.25vw 0 6.25vw;
	flex-direction: column;
	h2 {
		font-size: 32px;
		margin-bottom: 1.5vw;
		color: $color_1;
	}
	img {
		border-radius: 16px;
		width: 42.8vw;
		margin-bottom: 1vw;
	}
}
.Secciones {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.trabajo1 {
	width: 32.81vw;
}
.Works_Data {
	margin-top: 1vw;
	margin-right: 2.04vw;
	p {
		max-width: 42.8vw;
		margin-bottom: 0.6rem;
		color: $color_1;
	}
	button {
		color: $color_1;
		background: #7f5af0;
		margin-bottom: 2rem;
		padding: 0.68vw 1.5vw;
		border-radius: 10px;
		font-size: 0.93vw;
		cursor: pointer;
		&:hover {
			background: #9b7afc;
			transition: all 300ms ease-in-out;
		}
	}
}
