/* Importamos la tipografía */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Definimos las variables de nuestra página */

:root {

    /* Colores */

    --backgroundColor: rgba(22, 22, 26, 1);
    --violetColor: rgba(127, 90, 240, 1);
    --violetColorHover: rgb(155, 122, 252);
    --darkVioletColor: rgba(63, 61, 86, 1);
    --greyColor: rgba(145, 145, 155, 1);
    --whiteColor: rgba(244, 239, 244, 1);

    /* Fuente */
    font-family: 'Noto Sans', sans-serif;
}


/* Definimos las propiedades generales para todo el proyecto.*/

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Estilos de texto */

h1,
h2,
h3,
h4,
h5,
p,
a {
    color: var(--whiteColor);
}

/* Estilos del Body */

body {
    background: var(--backgroundColor);
}

/*-------------------- Navigation Bar ----------------------*/



/* Posición de la barra de navegación*/

.bg-dark {
    --bs-bg-opacity: 0;
}

.navbar-brand {
    color: var(--whiteColor);
    margin-left: 5.2vw;
    margin-right: 50vw;
}

.text-warning {
    color: var(--whiteColor)!important;
}

/*-------------------- Works Section ----------------------*/

/* Posición del Work Section*/

.Works__Section {
    margin: 6vw 6.25vw 0 6.25vw;
    flex-direction: column;
}

.Works__Section h2 {
    font-size: 32px;
    margin-bottom: 1.5vw;
}

/* Estilos de la imágen */

.Secciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
}

.trabajo1 {
    width: 32.81vw;
}

.Works__Section img {
    border-radius: 16px;
    width: 70.8vw;
    margin-bottom: 1vw;
}

/* Posición de la información */

.Works_Data {
    margin-top: 1vw;
    margin-right: 2.04vw;
}

.Works_Data p {
    max-width: 70.8vw;
}

/*-------------------- Footer ----------------------*/

/* posición del footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw 6.25vw 0 6.25vw;
    margin-bottom: 1.5vw;
}